# Maven
target/

# Eclipse
.classpath
.project
.settings/

# Java
*.class

# Logs
*.log

# Tomcat
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml

# Local configuration
.env

# Database/local secrets
application-local.properties
